// {{ .name }}ListFilter 获取{{ .name_zh }}过滤参数
type {{ .name }}ListFilter struct {
    {{ range $field := split .fields "," }}{{ $attrList := split $field ":" }}{{ range $i, $attr := $attrList }}{{ if eq $i (sub (len $attrList) 1) }}`json:"{{ $attr }}"`
    {{ else }}{{ $attr }} {{ end }}{{ end }}{{ end }}
}

// {{ .name }}ListRes 获取{{ .name_zh }}响应结果
type {{ .name }}ListRes struct {
    {{ .name }}NO string `json:"{{ .name_underline }}_no"`
    {{ range $field := split .fields "," }}{{ $attrList := split $field ":" }}{{ range $i, $attr := $attrList }}{{ if eq $i (sub (len $attrList) 1) }}`json:"{{ $attr }}"`
    {{ else }}{{ $attr }} {{ end }}{{ end }}{{ end }}
}

// {{ .name }}CreateReq 添加{{ .name_zh }}请求参数
type {{ .name }}CreateReq struct {
    {{ range $field := split .fields "," }}{{ $attrList := split $field ":" }}{{ range $i, $attr := $attrList }}{{ if eq $i (sub (len $attrList) 1) }}`json:"{{ $attr }}"`
    {{ else }}{{ $attr }} {{ end }}{{ end }}{{ end }}
}

// {{ .name }}UpdateReq 更新{{ .name_zh }}请求参数
type {{ .name }}UpdateReq struct {
    {{ .name }}NO string `json:"{{ .name_underline }}_no" binding:"required"`
    {{ range $field := split .fields "," }}{{ $attrList := split $field ":" }}{{ range $i, $attr := $attrList }}{{ if eq $i (sub (len $attrList) 1) }}`json:"{{ $attr }}"`
    {{ else }}{{ $attr }} {{ end }}{{ end }}{{ end }}
}

// {{ .name }}DeleteReq 删除{{ .name_zh }}请求参数
type {{ .name }}DeleteReq struct {
    {{ .name }}NO string `json:"{{ .name_underline }}_no" binding:"required"`
}
