package {{ .package_name }}

import (
	"ditigram_iot_backend/app/controllers"
	"ditigram_iot_backend/app/models"
	"ditigram_iot_backend/app/services/{{ .package_name }}"
	"encoding/json"
	"fmt"

	"github.com/gin-gonic/gin"
)

// {{ .name }}Delete 删除{{ .name_zh }}
func {{ .name }}Delete(ctx *gin.Context) {
	var req models.{{ .name }}DeleteReq
	err := ctx.ShouldBindJSON(&req)
	if err != nil {
		controllers.ResponseError(ctx, controllers.ErrParamsInvalid, err.Error())
		return
	}

	err = {{ .package_name }}.Delete{{ .name }}(req)
	if err != nil {
		controllers.ResponseError(ctx, fmt.Errorf("[delete {{.name}}] delete {{.name}} failed -> %w", err))
		return
	}
	controllers.ResponseSuccess(ctx)
}
