package {{ .package_name }}

import (
	"ditigram_iot_backend/app/controllers"
	"ditigram_iot_backend/app/models"
	"ditigram_iot_backend/app/services/op/{{ .package_name }}"
	"encoding/json"
	"fmt"

	"github.com/gin-gonic/gin"
)

// {{ .name }}Index4Op 获取{{ .name_zh }}列表
func {{ .name }}Index4Op(ctx *gin.Context) {
	page, pageSize, step, condition := controllers.GetPage(ctx)
	var filter models.{{ .name }}List4OpFilter
	err := json.Unmarshal(condition, &filter)
	if err != nil {
		controllers.ResponseError(ctx, controllers.ErrParamsInvalid, err.Error())
		return
	}

	list, count, err := {{ .package_name }}.List{{ .name }}4Op(page, pageSize, step, filter)
	if err != nil {
		controllers.ResponseError(ctx, fmt.Errorf("[list {{.name_underline}} failed] list {{.name_underline}} failed -> %w", err))
		return
	}
	controllers.ResponseSuccess(ctx, map[string]interface{}{
		"list":  list,
		"count": count,
	})
}

// {{ .name }}Create4Op 添加{{ .name_zh }}
func {{ .name }}Create4Op(ctx *gin.Context) {
	var req models.{{ .name }}Create4OpReq
	err := ctx.ShouldBindJSON(&req)
	if err != nil {
		controllers.ResponseError(ctx, controllers.ErrParamsInvalid, err.Error())
		return
	}

	err = {{ .package_name }}.Create{{ .name }}4Op(req)
	if err != nil {
		controllers.ResponseError(ctx, fmt.Errorf("[create {{.name_underline}}] create {{.name_underline}} failed -> %w", err))
		return
	}
	controllers.ResponseSuccess(ctx)
}

// {{ .name }}Update4Op 更新{{ .name_zh }}
func {{ .name }}Update4Op(ctx *gin.Context) {
	var req models.{{ .name }}Update4OpReq
	err := ctx.ShouldBindJSON(&req)
	if err != nil {
		controllers.ResponseError(ctx, controllers.ErrParamsInvalid, err.Error())
		return
	}

	err = {{ .package_name }}.Update{{ .name }}4Op(req)
	if err != nil {
		controllers.ResponseError(ctx, fmt.Errorf("[update {{.name_underline}}] update {{.name_underline}} failed -> %w", err))
		return
	}
	controllers.ResponseSuccess(ctx)
}

// {{ .name }}Delete4Op 删除{{ .name_zh }}
func {{ .name }}Delete4Op(ctx *gin.Context) {
	var req models.{{ .name }}Delete4OpReq
	err := ctx.ShouldBindJSON(&req)
	if err != nil {
		controllers.ResponseError(ctx, controllers.ErrParamsInvalid, err.Error())
		return
	}

	err = {{ .package_name }}.Delete{{ .name }}4Op(req)
	if err != nil {
		controllers.ResponseError(ctx, fmt.Errorf("[delete {{.name_underline}}] delete {{.name_underline}} failed -> %w", err))
		return
	}
	controllers.ResponseSuccess(ctx)
}
