{{ lowerfirst .name }}NS := apiV1.Group("/{{ .name_underline }}")
{
    {{ lowerfirst .name }}NS.POST("/index", {{ .package_name }}4op.{{ .name }}Index4Op)
    {{ lowerfirst .name }}NS.POST("/create", {{ .package_name }}4op.{{ .name }}Create4Op)
    {{ lowerfirst .name }}NS.POST("/update", {{ .package_name }}4op.{{ .name }}Update4Op)
    {{ lowerfirst .name }}NS.POST("/delete", {{ .package_name }}4op.{{ .name }}Delete4Op)
}
